@import "tailwindcss";

@theme {
  /* FONTS */
  --default-font-family: system-ui, Arial, sans-serif;
  --font-headers: "Merriweather", system-ui;

  /* LIGHT MODE COLOR PALETTE */
  --color-background: #fffdfa;
  --color-foreground: #212121;
  --color-special-one: #3319b4;
  --color-special-two: #0b62c8;
  --color-accent-one: #3d93f5;
  --color-accent-two: #654be7;
}

.dark {
  /* DARK MODE COLOR PALETTE */
  --color-background: #212121;
  --color-foreground: #fffdfa;
  --color-special-one: #cce64b;
  --color-special-two: #f49d37;
  --color-accent-one: #9ab418;
  --color-accent-two: #c26c0a;
}

h2,
h3 {
  margin: 10px auto;
  font-family: var(--font-headers);
  font-weight: 900;
}
h2 {
  color: var(--color-special-one);
}
h3 {
  color: var(--color-special-two);
}
